@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* https://www.readyjs.dev/tools/shadcn-ui-theme-generator?primaryColor=%23ffd500&saturation=100&lightness=22&chartColor=%23eac923&radius=0.7&chartColorScheme=double-complementary */
    :root {
        --background: 53.8 100% 97.7%;
        --foreground: 50.1 5% 6.1%;
        --card: 50.1 50% 92.2%;
        --card-foreground: 50.1 5% 11.1%;
        --popover: 50.1 100% 96.1%;
        --popover-foreground: 50.1 100% 2.2%;
        --primary: 50.1 100% 50%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 50.1 30% 74.4%;
        --secondary-foreground: 0 0% 0%;
        --muted: 88.1 30% 87.2%;
        --muted-foreground: 50.1 5% 36.1%;
        --accent: 88.1 30% 82.2%;
        --accent-foreground: 50.1 5% 11.1%;
        --destructive: 0 100% 34.4%;
        --destructive-foreground: 50.1 5% 92.2%;
        --border: 50.1 30% 57%;
        --input: 50.1 30% 25%;
        --ring: 50.1 88.7% 45.3%;
        --radius: 0.7rem;
        --sidebar-background: 50, 100%, 88%;
        --sidebar-foreground: 50, 5%, 5%;
        --sidebar-primary: 50, 100%, 45%;
        --sidebar-primary-foreground: 0 0% 0%;
        --sidebar-accent: 88, 30%, 78%;
        --sidebar-accent-foreground: 0 0% 0%;
        --sidebar-border: 50, 30%, 54%;
        --sidebar-ring: 40, 98%, 45%;
    }

    .dark {
        --background: 50.1 50% 6.1%;
        --foreground: 50.1 5% 92.2%;
        --card: 50.1 50% 2.2%;
        --card-foreground: 50.1 5% 92.2%;
        --popover: 50.1 50% 5%;
        --popover-foreground: 50.1 5% 92.2%;
        --primary: 50.1 100% 50%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 50.1 30% 12.2%;
        --secondary-foreground: 0 0% 100%;
        --muted: 88.1 30% 17.2%;
        --muted-foreground: 50.1 5% 61.1%;
        --accent: 88.1 30% 17.2%;
        --accent-foreground: 50.1 5% 91.1%;
        --destructive: 0 100% 34.4%;
        --destructive-foreground: 50.1 5% 92.2%;
        --border: 50.1 30% 25%;
        --input: 50.1 30% 25%;
        --ring: 50.1 88.7% 45.3%;
        --radius: 0.7rem;
        --sidebar-background: 50, 50%, 8%;
        --sidebar-foreground: 50, 5%, 100%;
        --sidebar-primary: 50, 100%, 40%;
        --sidebar-primary-foreground: 0, 0%, 0%;
        --sidebar-accent: 88, 30%, 15%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 50, 30%, 24%;
        --sidebar-ring: 40, 98%, 45%;
    }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
