# reference: https://bun.sh/guides/ecosystem/systemd

[Unit]
Description=Hivey web front-end service
After=network.target

[Service]
# good explanation of systemd service types: https://superuser.com/questions/1274901/systemd-forking-vs-simple
Type=exec
User=student
WorkingDirectory=/var/www/hivey/frontend/
# we use Caddy to reverse proxy Hivey
Environment="PROTOCOL_HEADER=x-forwarded-proto"
Environment="HOST_HEADER=x-forwarded-host"
ExecStart=/home/student/.bun/bin/bun run index.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
